body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.logo{
    height: 50px;
    border-radius: 50%;
}
.navbar-brand{
    color: white !important;
}

h1 {
    margin-bottom: 20px;
    color: #dc3545;
    font-weight: bold;
}

.news-item {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-content {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.news-content h2 {
    margin-top: 0;
}

.carousel-indicators li {
    background-color: #dc3545;
}

.carousel-inner {
    border-radius: 15px;
    overflow: hidden;
}
